body{
    text-align: center;
    background-repeat: no-repeat;
    border: solid 10px;
}
h1{
    text-shadow: 2px 2px;
    font-size: 50px;
    border:dotted;
}
#info{
    padding: 20px;
    text-align: center;
    font-size: 30px;
}
img{
    width: 300px;
        height: 300px;
    border-radius: 50%;
}
html{
    background-image: linear-gradient(to right, lightblue , blue);
    
}